<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link href="styles.css" rel="stylesheet">
      <title>Volcano Details - Based on Lat/Long Pairs</title>
</head>
<body>
    <div class="container">
         <h1>1001704601</h1>
            <h1>Thiagarajan, Tharoon</h1>
            <br>

            <h1>Amazon Web Services</h1>
            <br>
            <br>
            <br>
        <center>
            {#{% if rows is not None %}#}
   <table style="padding: 5px;text-align: left;width: 50%;border: 1px solid black;border-collapse: collapse;">
            <tr>
                  <th>Volcano No</th>
                  <th>Volcano Name</th>
                  <th>Country</th>
                  <th>Region</th>
                  <th>Latitude</th>
				  <th>Longitude</th>
				  <th>Elevation</th>
            </tr>
            {% for rows in rows %}
                <tr>
                  <td> {{rows['Number']}} </td>
                  <td> {{ rows['VolcanoName'] }} </td>
                  <td> {{ rows['Country'] }} </td>
                  <td> {{ rows['Region'] }} </td>
                  <td> {{ rows['Latitude'] }} </td>
				  <td> {{ rows['Longitude'] }} </td>
				  <td> {{ rows['Elev'] }} </td>
            </tr>
            {% endfor %}
        </table>
            {#{% else %}#}
            {#<div>No data available</div>#}
            {#{% endif %}#}
        </center>
        <br>
        <br>
    </div>
</body>
</html>