<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">

            <h1>1001704601</h1>
            <h1>Thiagarajan, Tharoon</h1>
            <br>

            <h1>Amazon Web Services</h1>
            <br>
            <br>
            <p><h3>Enroll Class</h3></p>
            <form action="/register" method="post">
                <label > <h3>Student Detail</h3> </label><br>
                <label > UTA ID: </label>
                <input type="number"  name="utaid" ><br>
                <label > First Name: </label>
                <input type="text"  name="fname" ><br>
                <label > Last Name: </label>
                <input type="text"  name="lname" ><br>
                <label > Age: </label>
                <input type="number"  name="age" ><br>
                <label > <h3>Course Detail</h3> </label><br>
                <label > Course Id </label>
                <input type="number"  name="cid" ><br>
                <label > Section </label>
                <input type="number"  name="section" ><br>
                <input type="submit" value="Register">

            </form>

        </div>
    </body>
    </html>
