<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">

            <h1>1001704601</h1>
            <h1>Thiagarajan, Tharoon</h1>
            <br>

            <h1>Amazon Web Services</h1>
            <br>
            <br>
            <br>

            <br>
            <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

             <h4>
                 Question 6
            </h4> <br>
            <form action="/SET" method="get">
                <label > Cick here for Question 6 </label>
                <input type="submit" value="Question 6">
             </form>

          <!--   <h4>
                 View Availables Classes
            </h4> <br>
            <form action="/viewClass" method="get">
                <input type="submit" value="View Class">
             </form> 
             <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p> -->
            <!-- <h4>
                 Enroll Class
            </h4> <br>
            <form action="/enroll" method="get">
                <input type="submit" value="Enroll Class">
             </form> 

              <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p> -->

               <!-- <h4>
                 Enter your UTA ID to view Classes Enrolled
            </h4> <br>
            <form action="/classEnrolled" method="post">
                <label > UTA ID: </label>
                <input type="number"  name="utaid" ><br>
                <input type="submit" value="View Classes">
             </form> 

             <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p> -->

             <br>
            <h4>
                 Question 7.1
            </h4> <br>
            <form action="/volcanocheck" method="post">
            <label > Volcano number </label>
            <input type="number"  name="vno" ><br>
                <input type="submit" value="Volcano Details">
            </form>
            <br>

             <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

            <h4>
                 Question 7.2
            </h4> <br>
          <form action="/box" method="POST" >
            <label> Location 1</label> <br>
            <label> Latitude:</label> <input type="number" name="latitude1" step="any"> <br>
            <label> Longitude:</label> <input type="number" name="longitude1" step="any"> <br>
            <label> Location 2</label> <br>
            <label> Latitude:</label> <input type="number" name="latitude2" step="any"> <br>
            <label> Longitude:</label> <input type="number" name="longitude2" step="any"> <br>
            <input type="submit" value="Get Volcano details">
          </form>


           <!--  <p> Elev range increment<p>
      <form action="/elevrange" method="POST" >
        <label> Elev Range </label> <br>
        <label> Elev Range1: </label> <input type="number" name="elevStart" step="any"> <br>
        <label> Elev Range2: </label> <input type="number" name="elevEnd" step="any"> <br>
        <label> Increment: </label> <input type="number" name="increment" step="any"> <br>

 

        <input type="submit" value="Get details"> 
      </form>
      <br>
      <br> -->


               
        </div>
    </body>
</html>